worker_processes 4;
worker_rlimit_nofile 4096;
pid /tmp/nginx.pid;
user udocker udocker;

events {
  worker_connections 2048;
  # multi_accept on;
}

http {

  ##
  # Basic Settings
  ##

  sendfile on;
  tcp_nopush on;
  tcp_nodelay on;
  keepalive_timeout 65;
  types_hash_max_size 2048;
  # server_tokens off;

  # server_names_hash_bucket_size 64;
  # server_name_in_redirect off;

  include /etc/nginx/mime.types;
  default_type application/octet-stream;

  ##
  # SSL Settings
  ##

  {{if .ssl_enabled}}
    ssl on;
    ssl_certificate {{.ssl_certificate}};
    ssl_certificate_key {{.ssl_certificate_key}};
    {{if .ssl_password_file}}
      ssl_password_file {{.ssl_password_file}};
    {{end}}

    # This is important to enforce client to use certificate.
    # The client of nginx cannot use a self-signed cert.
    ssl_verify_client on;
    ssl_client_certificate {{.ssl_certificate}};
  {{end}}
  ssl_protocols TLSv1 TLSv1.1 TLSv1.2; # Dropping SSLv3, ref: POODLE
  ssl_prefer_server_ciphers on;
  ssl_ciphers ECDH+AES256:ECDH+AES128:DH+3DES:!ADH:!AECDH:!MD5;

  ##
  # Logging Settings
  ##

  # access_log /var/log/nginx/access.log;
  error_log /var/log/nginx/error.log;

  ##
  # Gzip Settings
  ##

  gzip on;
  gzip_disable "msie6";

  # gzip_vary on;
  # gzip_proxied any;
  # gzip_comp_level 6;
  # gzip_buffers 16 8k;
  # gzip_http_version 1.1;

  gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript;

  ##
  # Virtual Host Configs
  ##

  include /etc/nginx/conf.d/*.conf;

  {{.site}}
}
