proxy_cache_path {{.cache_dir}}/tags keys_zone=tags:20m;
proxy_cache_path {{.cache_dir}}/repositories keys_zone=repositories:20m;
proxy_cache_path {{.cache_dir}}/list keys_zone=list:20m;

upstream build-index {
  server {{.server}};
}

server {
  listen {{.port}};

  ssl_verify_client optional;
  set $required_verified_client 1;
  if ($scheme = http) {
      set $required_verified_client 0;
  }
  if ($request_method ~ ^(GET|HEAD)$) {
      set $required_verified_client 0;
  }
  
  set $verfied_client $required_verified_client$ssl_client_verify;
  if ($verfied_client !~ ^(0.*|1SUCCESS)$) {
    return 403;
  }

  access_log {{.log_dir}}/nginx-access.log;
  error_log {{.log_dir}}/nginx-error.log;

  location / {
    proxy_pass http://build-index;
  }

  location /tags {
    proxy_pass http://build-index;

    proxy_cache         tags;
    proxy_cache_methods GET;
    proxy_cache_valid   200 5m;
    proxy_cache_valid   any 1s;
    proxy_cache_lock    on;
  }

  location ~* ^/repositories/.*/tags$ {
    proxy_pass http://build-index;

    proxy_cache         repositories;
    proxy_cache_methods GET;
    proxy_cache_valid   any 1s;
    proxy_cache_lock    on;
  }

  location /list {
    proxy_pass http://build-index;

    proxy_cache         list;
    proxy_cache_methods GET;
    proxy_cache_valid   200 30s;
    proxy_cache_valid   any 1s;
    proxy_cache_lock    on;

    proxy_read_timeout 2m;
  }
}
