upstream registry-backend {
  server 127.0.0.1:8991; # TODO(codyg): Change this to unix socket.

  # This is a hack, fallback to artifactory which uses https.
  server unix:/tmp/kraken-agent-irn-backup.sock backup; 
}

server {
  listen {{.port}};

  access_log {{.log_dir}}/nginx-access.v2.log;
  error_log {{.log_dir}}/nginx-error.v2.log;

  gzip on;
  gzip_types text/plain test/csv application/json;

  location / {
    proxy_pass http://registry-backend;
    proxy_next_upstream error timeout http_404 http_500;
  }
}

server {
    listen unix:/tmp/kraken-agent-irn-backup.sock;

    location / {
        proxy_pass https://docker-registry.pit-irn-1.uberatc.net;
    }
}