upstream registry {
  server {{.registry_server}};
}

upstream registry-override {
  server {{.registry_override_server}};
}

server {
  listen {{.port}};

  client_max_body_size 10G;

  access_log {{.log_dir}}/nginx-access.log;
  error_log {{.log_dir}}/nginx-error.log;

  location /v2/_catalog {
    proxy_pass http://registry-override;
  }

  location / {
    proxy_pass http://registry;
  }
}

server {
  listen 5000;

  client_max_body_size 10G;

  access_log {{.log_dir}}/nginx-access.log;
  error_log {{.log_dir}}/nginx-error.log;

  location /v2/_catalog {
    proxy_pass http://registry-override;
  }

  location / {
    proxy_pass http://registry;
  }
}
