.idea
.vscode
*.test
.tmp
vendor/

# Fake source dir for jenkins and debian, which uses repo root as GOPATH
^bin/
pkg/

# Binary executable
kraken/tracker/tracker
client/bin/agent/agent
test/bin/puller/puller

# tmp migration files
[0-9]*_-dir.go

*.xml

# Golang coverage files
*.out
# Golang test files
*.test
# Visual coverage report
coverage.html

# test db data
db/data
