.cache
.gen
.idea
.tmp
.vscode
*.test
*.go~
vendor/
.gen

# Fake source dir for jenkins and debian, which uses repo root as GOPATH
^bin/
pkg/

# Binary executable
tracker/tracker
agent/agent
origin/origin
proxy/proxy
cli/kraken-cli
tools/bin/puller/puller
benchmarks/benchmarks

# tmp migration files
[0-9]*_-dir.go

*.xml
*.pyc
env

# Golang coverage files
*.out
# Golang test files
*.test
# Visual coverage report
coverage.html

# test db data
db/data
# test generated config file
config/origin/test/base.yaml

# For vim users.
tags
