Source: kraken-cli
Maintainer: Kraken Group <kraken-group@uber.com>
Section: misc
Priority: optional
Standards-Version: 0.1.0
Build-Depends: debhelper (>= 9), golang-1.8 (>= 1.8.1), curl, git

Package: kraken-cli
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: client for operation on Kraken origin cluster.
 .
 - client for operation on Kraken origin cluster.
