name: Build and Test

# Trigger the action on push and pull requests
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ '**' ]

env:
  GO_VERSION: '1.23'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: latest
          # Only run on new issues in pull requests
          # only-new-issues: true

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Display Go version
        run: go version

      - name: Install dependencies
        env:
          GIT_SSL_NO_VERIFY: true
          GOPROXY: "https://proxy.golang.org,direct"
          GOSUMDB: off
          GOINSECURE: "*"
        run: go mod download

      - name: Build
        run: go build ./...
        env:
          CGO_CFLAGS: "-Wno-return-local-addr"
  unit_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Test with the Go CLI
        run: go test $(go list ./...) -cover
        env:
          CGO_CFLAGS: "-Wno-return-local-addr"
      - name: Run Benchmarks
        run: |
          go test $(go list ./...) -bench=. -benchmem -run=^$
        env:
          CGO_CFLAGS: "-Wno-return-local-addr"

  integration_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Run integration tests via Make
        run: make integration
