name: Build and Test

# Trigger the action on push and pull requests
on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ['1.21', '1.22', '1.23']
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
          
      - name: Display Go version
        run: go version

      - name: Install dependencies
        run: go mod download

      # Add CGO_CFLAGS environment variable to suppress the warning
      - name: Build
        run: go build -v ./...
        env:
          CGO_CFLAGS: "-Wno-return-local-addr"

      # Run tests with CGO_CFLAGS set
      - name: Test with the Go CLI
        run: go test $(go list ./...) -cover -json > TestResults-${{ matrix.go-version }}.json
        env:
          CGO_CFLAGS: "-Wno-return-local-addr"

      - name: Upload Go test results
        uses: actions/upload-artifact@v4
        with:
          name: Go-results-${{ matrix.go-version }}
          path: TestResults-${{ matrix.go-version }}.json
